@model PetShopMVC.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData</h2>

<div>
<h4>Cliente</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Telefone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Telefone)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Endereco)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Endereco)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Servico)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Servico.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Animal)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Animal)
   )
    </dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
    <a asp-action="Index">Voltar</a>
</div>
